@model MicroVistaMVC.Models.StudentClass

<div>
    <h4>StudentClass</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentMail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentDOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentDOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentImage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StudentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
